<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <a href="{{ page.base_url }}">
        <img class="profile-pic img-rounded" src="{{ page.base_url }}/assets/images/profile.jpg">
      </a>
    </div>
    <div class="col-sm-6">
      <div class="row">
        <div class="col-xs-12">
          <div class="name"><a href="{{ page.base_url }}">reese levine</a></div>
          <div class="name-blurb">programmer, cyclist, student</div>
          <div class="prof-icons">
            <a href="https://www.fb.me/reese.levine.5"><i class="fa fa-facebook-square fa-4x"></i></a>
            <a href="https://twitter.com/reeselevine"><i class="fa fa-twitter-square fa-4x"></i></a>
            <a href="https://www.linkedin.com/in/reeselevine"><i class="fa fa-linkedin-square fa-4x"></i></a>
            <a href="https://github.com/reeselevine"><i class="fa fa-github-square fa-4x"></i></a>
            <a href="mailto:{{ site.email }}"><i class="fa fa-envelope-square fa-4x"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
