<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <a href="{{ site.url }}">
        <img class="profile-pic img-rounded" src="{{ site.url }}assets/images/profile.jpg">
      </a>
    </div>
    <div class="col-sm-8">
      <div class="row">
        <div class="col-xs-12">
          <div class="name"><a href="{{ site.url }}">reese levine</a></div>
          <div class="name-blurb">programmer, cyclist, student</div>
          <div class="prof-icons">
            <a href="https://www.fb.me/reese.levine.5"><i class="fa fa-facebook-square fa-3x"></i></a>
            <a href="https://twitter.com/reeselevine"><i class="fa fa-twitter-square fa-3x"></i></a>
            <a href="https://instagram.com/reeselevine"><i class="fa fa-instagram fa-3x"></i></a>
            <a href="https://www.linkedin.com/in/reeselevine"><i class="fa fa-linkedin-square fa-3x"></i></a>
            <a href="https://github.com/reeselevine"><i class="fa fa-github-square fa-3x"></i></a>
	    <a id="copy-email" data-clipboard-text="reese@reeselevine.me" title="Click to copy to clipboard." href="#">
	      <i class="fa fa-envelope-square fa-3x"></i>
	      <span>Copy to clipboard!</span>
	    </a>
	  </div>
        </div>
      </div>
    </div>
  </div>
</div>
