/*--- universal ---*/
body {
    font-family: 'Josefin Slab', sans-serif;
    font-size: 20px;
    padding-top: 30px;
}

.container {
    max-width: 768px;
    padding: 0 10px;
    margin: 0 auto;
}

/*--- end universal ---*/

/*--- header-pic ---*/

.profile-pic {
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.5);
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

.name {
    margin-top: 20px;
    font-size: 50px;
    letter-spacing: 3px;
}

.name a {
    color: black;
    text-decoration: none;
}

.name-blurb {
    margin-top: 10px;
    font-size: 20px;
}

.prof-icons {
    margin-top: 25px;
}

.fa-facebook-square {
    color: #FDB515;
}

.fa-twitter-square {
    color: #003A70;
    margin-right: 5px;
}

.fa-instagram {
    color:  #FDB515;
    margin-right: 5px;
}

.fa-linkedin-square {
    color: #003A70;
    margin-right: 5px;
}

.fa-github-square {
    color: #FDB515;
    margin-right: 5px;
}

.fa-envelope-square {
    color: #003A70;
}

.alert-info {
    color: #003A70;
}

a#copy-email {
  display: inline-block;
}

a#copy-email span {
    position: absolute;
    width:140px;
    color: #FFFFFF;
    background: #000000;
    height: 30px;
    line-height: 30px;
    text-align: center;
    visibility: hidden;
    border-radius: 6px;
    font-size: 15px;
}
a#copy-email.zeroclipboard-is-hover span:after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -8px;
    width: 0; height: 0;
    border-bottom: 8px solid #000000;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}
a#copy-email.zeroclipboard-is-hover span {
    visibility: visible;
    opacity: 0.8;
    bottom: -35px;
    left: 54%;
    z-index: 999;
}

/*--- end header-pic ---*/

/*--- main nav ---*/

#mainNav {
    margin-top: 30px;
    width: 100%;
    text-align: center;
    display: block;
}


#mainNav nav ul {
    width: auto;
    margin: auto;
    display: inline-block;
    font-family: Monaco, sans-serif;
    font-size: 20px;
    text-decoration: none;
    letter-spacing: 3px;

}

#mainNav nav ul > li {
    margin-left: 7px;
    margin-right: 7px;
}

#mainNav nav li > a {
    color: black;
}

#mainNav nav li > a:hover {
    color: white;
    background-color: #FDB515;
}

#mainNav .active {
    color: white;
    background-color: #003A70;
}

#sep {
    margin-top: 10px;
}

/*--- end main nav ---*/

/*--- blog index ---*/
.home-button {
    color: #003A70;
}

.home-button:hover {
    color: #FDB515;
}

.post-content {
    padding-top: 20px;
}

.post-list {
    text-align: center;
}

.post-list-date {
    font-size: small;
    margin-right: 100px;
}

.post-list a {
    color: #003A70;
    padding: 5px;
    text-decoration: none;
}

.post-list a:hover {
    color: white;
    background-color: #FDB515;
}
/*--- end blog index ---*/

/*--- blog post universal layout ---*/

.post-body {
    padding-top: 0px;
}

.post-header {
    position: top;
    width: 100%;
    padd;
}

.post-back-button {
    position: fixed;
    left: 0;
    color: #FDB515;
    padding: 10px;
}

.post-back-button a {
    color: #003A70;
    padding: 5px;
    text-decoration: none;
}

.post-back-button a:hover {
    color: white;
    background-color: #FDB515;
}

/*--- end blog post univeral layout ---*/